<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My First Project on Azure</title>
</head>
<body>
<h1>Lista de vehiculos de rosita</h1>
<table>
    <tr>
        <th>Codigo</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Color</th>
        <th>Placa</th>
    </tr>
    <tr th:each="vehiculo : ${vehicleList}">
        <td th:text="${vehiculo.codigo}"></td>
        <td th:text="${vehiculo.marca}"></td>
        <td th:text="${vehiculo.modelo}"></td>
        <td th:text="${vehiculo.color}"></td>
        <td th:text="${vehiculo.placa}"></td>
    </tr>
</table>
</body>
</html>